@mixin range {
    position: relative;
    padding-left: 10px;
    z-index: 1;
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $main-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
}