.contact {
    min-height: 600px;
    margin-top: 120px;
    margin-bottom: 100px;
    &__wrapper {
        display: flex;
    }
    &__wrapper-img {
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    &__wrapper-descr {
        width: 700px;
        margin: 6px 35px 0 65px;
    }
    &__social {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        img {
            height: 30px;
            margin-right: 25px;
            transition: 0.5s all;
            &:hover {
                transform: scale(1.4);
            }
        }
    }
    &__text {
        margin-bottom: 29px;
    }
}