//1 блок промо
.promo {
    min-height: 100vh;
    position: relative;
    padding: 0 0 0 0;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        padding: 340px 0 0 100px;
    }
    .container {
        padding-left: 200px;
    }
    h1 {
        @include range;
        color: #fff;
    }
    h2 {
        width: 532px;
        color: #fff;
    }
    
    &__button-wrapper {
        display: flex;
        justify-content: start;
        .btn a {
            color: #fff;
        }
    }
    
    
}